<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" >
        <target>System.out</target>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <logger name="bg.duosoft" level="debug" />
    <logger name="net.duosoft" level="debug" />
    <logger name="com.duosoft" level="debug" />
    <logger name="org.springframework.context.support.ResourceBundleMessageSource" level="ERROR" />
<!--    <logger name="org.hibernate.type" level="trace" />-->
<!--    <logger name="org.hibernate.SQL" level="debug" />-->

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>