<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

<footer class="app-footer" th:fragment="footer">
    <div>
        <div class="footer-container">
            <div>
                <div class="inline-block" style="margin-top: 10px">
                    <img class="inline-block" width="200" th:src="@{/img/logo_eu_brand_bg.png}">
                    <img class="inline-block" width="170" th:src="@{/img/logo_op_brand_bg.png}">
                </div>
                <div class="inline-block"  style="font-size: 11px;">
                    <h6 style="color: black">
                        Разработката на "Единна информационна система за индустриална собственост" е финансирана по проект BG16RFOP002-1.004-0002 "Повишаване
                        качеството, ефективността и ефикасността на предлаганите от Патентно ведомство на Република България
                        услуги за бизнеса, свързани със закрилата на обектите на индустриална собственост", финансиран от
                        Оперативна програма „Иновации и конкурентоспособност“, съфинансирана от Европейския съюз чрез
                        Европейския фонд за регионално развитие.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>