<script th:inline="javascript" xmlns:th="http://www.w3.org/1999/xhtml" type="text/javascript">
    var messages = [];
    messages["status.active"] = /*[[#{status.active}]]*/'';
    messages["status.inactive"] = /*[[#{status.inactive}]]*/'';
    messages["all"] = /*[[#{all}]]*/'';
    messages["yes"] = /*[[#{yes}]]*/'';
    messages["no"] = /*[[#{no}]]*/'';
    messages["btn.cancel"] = /*[[#{btn.cancel}]]*/'';
    messages["please.fix.invalid.fields"] = /*[[#{please.fix.invalid.fields}]]*/'';
    messages["wrong.date"] = /*[[#{wrong.date}]]*/'';
    messages["wrong.datetime"] = /*[[#{wrong.datetime}]]*/'';
    messages["wrong.number"] = /*[[#{wrong.number}]]*/'';
    messages["wrong.number.start"] = /*[[#{wrong.number.start}]]*/'';
    messages["wrong.number.end"] = /*[[#{wrong.number.end}]]*/'';
    messages["wrong.regex"] = /*[[#{wrong.regex}]]*/'';
    messages["user.sync.confirm.msg"] = /*[[#{user.sync.confirm.msg}]]*/'';
    messages["user.sync.all.confirm.msg"] = /*[[#{user.sync.all.confirm.msg}]]*/'';
    messages["open.panels.error.message"] = /*[[#{open.panels.error.message}]]*/'';
    messages["rights.disable.linked.panels"] = /*[[#{rights.disable.linked.panels}]]*/'';
    messages["reception.scan.success"] = /*[[#{reception.scan.success}]]*/'';
    messages["reception.scan.error"] = /*[[#{reception.scan.error}]]*/'';
    messages["abbaty.scan.not.running"] = /*[[#{abbaty.scan.not.running}]]*/'';
    messages["scanner.is.not.configured"] = /*[[#{scanner.is.not.configured}]]*/'';
    messages["add.missing.epo.patent.confirm.msg"] = /*[[#{add.missing.epo.patent.confirm.msg}]]*/'';
    messages["split.person.process.success"] = /*[[#{split.person.process.success}]]*/'';
    messages["missing.userdocs.process.success"] = /*[[#{missing.userdocs.process.success}]]*/'';
    messages["remove.person.process.success"] = /*[[#{remove.person.process.success}]]*/'';
    messages["duplicate.person.process.success"] = /*[[#{duplicate.person.process.success}]]*/'';
    messages["error.internal.server.error"] = /*[[#{error.internal.server.error}]]*/'';
    messages["error.not.found"] = /*[[#{error.not.found}]]*/'';
    messages["error.forbidden"] = /*[[#{error.forbidden}]]*/'';
    messages["error.title"] = /*[[#{error.title}]]*/'';
    messages["existing.object.title"] = /*[[#{existing.object.title}]]*/'';
    messages["home.page.title"] = /*[[#{home.page.title}]]*/'';
    messages["mark.breadcrumb.prefix"] = /*[[#{mark.breadcrumb.prefix}]]*/'';
    messages["gi.breadcrumb.prefix"] = /*[[#{gi.breadcrumb.prefix}]]*/'';
    messages["design.breadcrumb.prefix"] = /*[[#{design.breadcrumb.prefix}]]*/'';
    messages["eupatent.breadcrumb.prefix"] = /*[[#{eupatent.breadcrumb.prefix}]]*/'';
    messages["patent.breadcrumb.prefix"] = /*[[#{patent.breadcrumb.prefix}]]*/'';
    messages["plant.breadcrumb.prefix"] = /*[[#{plant.breadcrumb.prefix}]]*/'';
    messages["spc.breadcrumb.prefix"] = /*[[#{spc.breadcrumb.prefix}]]*/'';
    messages["um.breadcrumb.prefix"] = /*[[#{um.breadcrumb.prefix}]]*/'';
    messages["userdoc.breadcrumb.prefix"] = /*[[#{userdoc.breadcrumb.prefix}]]*/'';
    messages["offidoc.breadcrumb.prefix"] = /*[[#{offidoc.breadcrumb.prefix}]]*/'';
    messages["search.mark.title"] = /*[[#{search.mark.title}]]*/'';
    messages["search.geographical_indications.title"] = /*[[#{search.geographical_indications.title}]]*/'';
    messages["search.design.title"] = /*[[#{search.design.title}]]*/'';
    messages["search.international-design.title"] = /*[[#{search.international-design.title}]]*/'';
    messages["search.patent.title"] = /*[[#{search.patent.title}]]*/'';
    messages["search.patent-like.title"] = /*[[#{search.patent-like.title}]]*/'';
    messages["search.utility_model.title"] = /*[[#{search.utility_model.title}]]*/'';
    messages["search.eupatent.title"] = /*[[#{search.eupatent.title}]]*/'';
    messages["search.spc.title"] = /*[[#{search.spc.title}]]*/'';
    messages["search.plants_and_breeds.title"] = /*[[#{search.plants_and_breeds.title}]]*/'';
    messages["search.userdoc.title"] = /*[[#{search.userdoc.title}]]*/'';
    messages["admin.page.title"] = /*[[#{admin.page.title}]]*/'';
    messages["msprocess.delete.actions.msg"] = /*[[#{msprocess.delete.actions.msg}]]*/'';
    messages["msprocess.delete.confirm"] = /*[[#{msprocess.delete.confirm}]]*/'';
    messages["msprocess.create.confirm"] = /*[[#{msprocess.create.confirm}]]*/'';
    messages["reception.page.title"] = /*[[#{reception.page.title}]]*/'';
    messages["badge.new.single.s"] = /*[[#{badge.new.single.s}]]*/'';
    messages["badge.new.single.w"] = /*[[#{badge.new.single.w}]]*/'';
    messages["badge.new.multiple"] = /*[[#{badge.new.multiple}]]*/'';
    messages["reception.print.success"] = /*[[#{reception.print.success}]]*/'';
    messages["reception.print.error"] = /*[[#{reception.print.error}]]*/'';
    messages["message.copied.to.clipboard"] = /*[[#{message.copied.to.clipboard}]]*/'';
</script>