<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="international-nice-classes-table(niceClassList, niceListType)" class="m_B10"
th:if="${niceClassList != null && !T(org.springframework.util.CollectionUtils).isEmpty(niceClassList)}">
    <div>
    </div>

    <table class="simple">
        <thead>
        <tr>
            <th th:text="#{mark.nice.class}">Клас</th>
            <th th:text="#{mark.nice.gs}">Стоки/Услуги</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="niceClass : ${niceClassList}">
                <td class="td-nice-class-nbr" style="vertical-align: top;" th:text="${niceClass.niceClassCode}"></td>
                <td class="td-nice-class-terms">
                    <ul class="m_T0">
                        <li th:each="term, iteration : ${niceClass.terms}" class="tc-unknown tc-base">
                            <span class="" th:text="${term.termText}"></span>
                        </li>
                    </ul>
                </td>
                <td class="inline-block">
                    <div class="row">
                        <div class="col-11"></div>
                            <div class="col-1 right-align action-menu-wrapper" th:with="menuId=|international-nice-class-menu-${niceClass.niceClassCode}|">
                               <i th:title="#{menu}" th:attr="data-action='toggle-menu',data-id=${menuId}" class="zmdi zmdi-menu"></i>
                               <div th:id="${menuId}" class="action-menu none m_L25-i">
                                  <span>
                                     <i class="material-icons">text_format</i>
                                     <a class="b0" th:title="#{international.nice.btn.terms.text}" href="javascript:void(0);" th:text="#{international.nice.btn.terms.text}"
                                     th:attr="data-action='show-terms-text',data-id=${niceClass.niceClassCode},data-url=@{/international-nice-class/{niceListType}/show-terms-text(niceListType=${niceListType})}">
                                     </a>
                                  </span>
                               </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>