<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="patent-ipc(ipcList)"
     th:with="configParamUtils=${T(com.duosoft.ipas.util.ConfigParamUtils)},latestIpcVersion=${configParamUtils.getLastIpcVersion(@configParamServiceImpl)}">

    <div class="row m_B20" th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(ipcList)}">
        <div class="col-12">
            <table class="simple">
                <thead>
                <tr>
                    <th th:text="#{number}"></th>
                    <th th:text="#{ipc.edition.code.label}"></th>
                    <th th:text="#{ipc.classes.label}"></th>
                    <th style="width: 15%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ipc : ${ipcList}" th:with="validVersion = ${ipc.ipcVersionCalculated == latestIpcVersion}">
                    <td th:style="${!validVersion ? 'color:red':''}" th:text="${ipc.ipcQualification}"></td>
                    <td th:style="${!validVersion ? 'color:red':''}" th:text="${ipc.ipcEdition}"></td>
                    <td th:style="${!validVersion ? 'color:red':''}" th:text="${#strings.concat(ipc.ipcSection,ipc.ipcClass,ipc.ipcSubclass,ipc.ipcGroup,ipc.ipcSubgroup,' - ',ipc.ipcSymbolDescription)}"
                        th:title="${ipc.ipcSymbolDescription}"></td>
                    <td class="txtRight">

                        <a th:if="${!validVersion}" style="border: 0" th:title="#{btn.info}" href="javascript:void(0);"
                           th:attr="data-action='get-valid-ipcs',data-url=@{/patent-like/ipc/valid-ipcs},data-edition=${ipc.ipcEdition},
                               data-section=${ipc.ipcSection}, data-class=${ipc.ipcClass},data-subclass=${ipc.ipcSubclass},
                               data-group=${ipc.ipcGroup},data-subgroup=${ipc.ipcSubgroup},
                               data-message=#{ipc.class.delete.confirmation.message}"
                           class="txtLeft btn-floating ipas waves-effect waves-light action-button-top confirm">
                            <i class="icon-info"></i>
                        </a>

                        <a style="border: 0" th:title="#{btn.delete}" href="javascript:void(0);"
                           th:attr="data-action='delete-specific-ipc',data-url=@{/patent-like/ipc/delete},data-edition=${ipc.ipcEdition},
                               data-section=${ipc.ipcSection}, data-class=${ipc.ipcClass},data-subclass=${ipc.ipcSubclass},
                                data-group=${ipc.ipcGroup},data-subgroup=${ipc.ipcSubgroup},
                               data-message=#{ipc.class.delete.confirmation.message}"
                           class="txtLeft btn-floating ipas waves-effect waves-light action-button-top confirm hidden-element">
                            <i class="icon-trash"></i>
                        </a>

                        <a th:if="${T(com.duosoft.ipas.util.PatentIpcsUtils).ipcSwapPositionsValidation(ipcList[ipcList.size()-1],ipc)}"
                           th:attr="data-action='swap-ipc-position',data-url=@{/patent-like/ipc/swap-position},data-higher-position=true
                               ,data-edition=${ipc.ipcEdition},data-section=${ipc.ipcSection}, data-class=${ipc.ipcClass},data-subclass=${ipc.ipcSubclass},
                                data-group=${ipc.ipcGroup},data-subgroup=${ipc.ipcSubgroup},data-qualif=${ipc.ipcQualification}"
                           href="javascript:void(0);"
                           class="btn-floating ipas waves-effect waves-light action-button-top confirm hidden-element">
                            <i class="material-icons">arrow_downward</i>
                        </a>

                        <a th:if="${T(com.duosoft.ipas.util.PatentIpcsUtils).ipcSwapPositionsValidation(ipcList[0],ipc)}"
                           th:attr="data-action='swap-ipc-position',data-url=@{/patent-like/ipc/swap-position},data-higher-position=false
                               ,data-edition=${ipc.ipcEdition},data-section=${ipc.ipcSection}, data-class=${ipc.ipcClass},data-subclass=${ipc.ipcSubclass},
                                data-group=${ipc.ipcGroup},data-subgroup=${ipc.ipcSubgroup},data-qualif=${ipc.ipcQualification}"
                           href="javascript:void(0);"
                           class="btn-floating ipas waves-effect waves-light action-button-top confirm hidden-element">
                            <i class="material-icons">arrow_upward</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row hidden-element">
        <div class="col-10">
            <div class="input-field">
                <input id="ipcNumberAutocomplete" type="text" class="autocomplete form-ignore"
                       th:placeholder="#{ipc.to.search.text}"
                       th:attr="data-url=@{/patent-like/ipc/autocomplete}">
            </div>
        </div>
        <div>
            <button id="ipc-add-button" style="display: none;" th:text="#{add.ipc.class.button}"
                    th:attr="data-action='add-patent-ipc',data-url=@{/patent-like/ipc/add}" th:type="button"
                    class="button sm-icn-add m_T10">
            </button>
        </div>

    </div>
    <div class="row hidden-element">
        <div class="m_T5">
                <span class="orange"
                      th:text="#{choose.ipc.class.warning.message}"></span>
        </div>
    </div>
    <div class="row hidden-element">
        <div class="m_T5" th:id="ipcs-errors-div">

        </div>
    </div>

    <div class="row hidden-element">
        <button id="ipc-copy-from-cpc-button" th:text="#{copy.ipc.from.ipc.button}"
                th:attr="data-action='ipc-copy-from-cpc-button',data-url=@{/patent-like/ipc/copy-from-cpc-list}" th:type="button"
                class="button sm-icn-add m_T10"></button>
    </div>


    <div id="new-ipc-hidden-fields">
        <div>
            <input type="text" th:id="new-ipcEdition" th:type="hidden" th:value="''">
        </div>
        <div>
            <input type="text" th:id="new-ipcSection" th:type="hidden" th:value="''">
        </div>
        <div>
            <input type="text" th:id="new-ipcClass" th:type="hidden" th:value="''">
        </div>
        <div>
            <input type="text" th:id="new-ipcSubclass" th:type="hidden" th:value="''">
        </div>
        <div>
            <input type="text" th:id="new-ipcGroup" th:type="hidden" th:value="''">
        </div>
        <div>
            <input type="text" th:id="new-ipcSubgroup" th:type="hidden" th:value="''">
        </div>
        <div>
            <input type="text" th:id="new-ipcName" th:type="hidden" th:value="''">
        </div>
    </div>
</div>

</body>
</html>