<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="bg">

<head th:replace="base/template :: head(title=#{userdoc.correspondence.terms.title})"></head>

<body class="dark left-sidebar-show">

<header class="app-header" th:replace="base/header"></header>

<div class="app-body" th:with="securityUtils=${T(bg.duosoft.ipas.util.security.SecurityUtils)}, securityRoles=${T( bg.duosoft.ipas.enums.security.SecurityRole)}">
    <div th:replace="base/left-sidebars :: list(urls = ${T(com.duosoft.ipas.util.UrlMap).getHomeUrlsFiltered()})"></div>
    <main class="main">
        <div th:replace="base/breadcrumbs :: breadcrumbs"></div>
        <div class="inner continer">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="center">
                            <h1 class="section-header" th:text="#{userdoc.correspondence.terms.title}"></h1>
                        </div>
                        <div class="row m_B10">
                            <div class="col-6" th:id="'userdoc-correspondence-terms-filter-wrapper'" th:with="id='userdoc-correspondence-terms-filter'">
                                <div th:replace="~{base/form/select :: map(id = ${id}, label = 'Вида на документа', map = ${userdocTypeMap}, selected = ${userdocCorrespondenceTermsFilter.userdocType}, emptySelectOption = #{all}, classes = 'search-box')}"></div>
                            </div>
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: text(id = 'userdoc-correspondence-terms-filingNumber-filter-input', label = 'Номер на документа',value = ${userdocCorrespondenceTermsFilter.userdocFilingNumber})}"></div>
                            </div>
                            <div class="col-6" th:id="'userdoc-correspondence-terms-objectFileTyp-filter-wrapper'" th:with="id='userdoc-correspondence-terms-objectFileTyp-filter'">
                                <div th:replace="~{base/form/select :: map(id = ${id}, label = 'Вид на обекта', map = ${fileTypes}, selected = ${userdocCorrespondenceTermsFilter.objectFileTyp},emptySelectOption = #{all}, classes = 'search-box')}"></div>
                            </div>
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: text(id = 'userdoc-correspondence-terms-objectFileNbr-filter-input', label = 'Номер на обекта',value = ${userdocCorrespondenceTermsFilter.objectFileNbr})}"></div>
                            </div>
                            <div class="col-6">
                                <div th:id="'userdoc-correspondence-terms-status-filter-wrapper'" class="input-field" th:with="id='userdoc-correspondence-terms-status-filter'">
                                    <select th:id="${id}">
                                        <option th:text="'Всички'" th:value="''"></option>
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.key}"
                                                th:text="${status.value}"
                                                th:selected="${#strings.equalsIgnoreCase(status.key,userdocCorrespondenceTermsFilter.statusCode )}">
                                        </option>
                                    </select>
                                    <label th:for="${id}" th:text="'Статус'"></label>
                                </div>
                            </div>
                            <div class="col-6">
                            </div>
                            <div class="col-3">
                                <div th:replace="~{base/form/checkbox :: basic(id = 'userdoc-correspondence-in-term-checkbox', label = 'В срок', isChecked = ${userdocCorrespondenceTermsFilter.inTerm})}"></div>
                            </div>
                            <div class="col-3">
                                <div th:replace="~{base/form/checkbox :: basic(id = 'userdoc-correspondence-finished-checkbox', label = 'Приключени', isChecked = ${userdocCorrespondenceTermsFilter.finished})}"></div>
                            </div>
                        </div>
                        <div class="row m_B10" th:if="${securityUtils.hasRights(securityRoles.IpObjectsSearchForeignObjectsData)}">
                            <div class="col-12" >
                                <div th:replace="~{base/form/input :: text(id = 'responsibleUser-filter', label = #{filter.responsibleUser.label},dataId = (${userdocCorrespondenceTermsFilter.responsibleUser}), value = (${userdocCorrespondenceTermsFilter.responsibleUserName}), url = @{/user/users-autocomplete}, classes = 'autocomplete-user')}"></div>
                            </div>
                        </div>
                        <div class="row right-align">
                            <div class="col-12">
                                <a th:replace="~{base/form/button :: material-btn(label = #{btn.search}, idBtn = 'search-userdoc-correspondence-terms-btn', dataUrl = @{/userdoc-correspondence-terms/search} , icon = 'search', classes = 'm_R20 m_T5')}"></a>
                                <a th:replace="~{base/form/button :: material-btn(label = #{btn.clear}, idBtn = 'clear-userdoc-correspondence-terms-btn',href=@{/userdoc-correspondence-terms/list}, icon = 'clear', classes = 'm_T5')}"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" th:id="userdoc-correspondence-terms-table-wrapper" th:attr="data-url=@{/userdoc-correspondence-terms/update-table}">
                                <div th:replace="home/userdoc_correspondence_terms/userdoc_correspondence_terms_table :: table(userdocCorrespondenceTermsList=${userdocCorrespondenceTermsList},userdocCorrespondenceTermsCount=${userdocCorrespondenceTermsCount},userdocCorrespondenceTermsFilter=${userdocCorrespondenceTermsFilter})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="page-footer" th:replace="base/footer"></footer>
<div th:replace="base/template :: js-footer" th:remove="tag"></div>
</body>
</html>