<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base/template :: head(title = (#{spc.breadcrumb.prefix} + ' ' + ${patent.file.fileId.createFilingNumber()}))"></head>

<body class="dark left-sidebar-show" th:with="panelEnum=${T(com.duosoft.ipas.enums.PatentPanel)}">

<th:block th:with="panelsList=(${{panelEnum.SpcIdentityData.code(),
                                  panelEnum.SpcMainData.code(),
                                  panelEnum.Persons.code(),
                                  panelEnum.IpcData.code(),
                                  panelEnum.CpcData.code(),
                                  panelEnum.Recordals.code(),
                                  panelEnum.Publication.code(),
                                  panelEnum.Process.code(),
                                  panelEnum.Payments.code(),
                                  panelEnum.History.code()} })">

    <div th:replace="ipobjects/patentlike/common/viewpage/patent_view_page :: content(${panelsList},'spc')"></div>
</th:block>

</body>
</html>