<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="bg">
<head th:replace="base/template :: head(title = #{home.page.title})"></head>
<body class="dark left-sidebar-show">
<header class="app-header" th:replace="base/header"></header>

<div class="app-body" th:with="securityUtils=${T(bg.duosoft.ipas.util.security.SecurityUtils)}, securityRoles=${T( bg.duosoft.ipas.enums.security.SecurityRole)}">
    <div th:replace="base/left-sidebars :: list(urls = ${T(com.duosoft.ipas.util.UrlMap).getServiceUrlsFiltered()})"></div>

    <main class="main" th:with="coreUtils=${T(com.duosoft.ipas.util.CoreUtils)},basicUtils=${T(bg.duosoft.ipas.util.general.BasicUtils)}">
        <div class="continer" style="padding-left: 10px;padding-top: 20px;padding-right: 10px">
            <div class="row home-page-icons" th:if="false">
                <div th:each="url : ${T(com.duosoft.ipas.util.UrlMap).getServiceUrlsFiltered()}" th:remove="tag">
                    <div class="col-3">
                        <div class="panel">
                            <a th:href="${url.urlPropertyConfiguration} ? ${@environment.getProperty(url.url)} : @{${url.url}}" th:title="${#messages.msgOrNull(url.text)}">
                                <svg class="icon">
                                    <use th:attr="'xlink:href'=${url.xhref}"></use>
                                </svg>
                                <span th:text="${#messages.msgOrNull(url.shortText)}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).ZMR.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelsZmAndZmr)}" th:id="userdocs-zmr-group-panel" th:attr="data-url=@{/load-userdocs-zmr-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupZmr)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupZmr)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupZmr}, total=${userdocsGroupZmrCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>

                <div  class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelsZmAndZmr)}" th:id="imark-my-objects-panel" th:attr="data-url=@{/load-imark-my-objects-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(iMarkMyObjectsList)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(iMarkMyObjectsList)}">
                        <div th:replace="home/my_objects/imark_my_objects_home_panel :: panel(myObjectsList = ${iMarkMyObjectsList}, total=${iMarkMyObjectsListCount},newlyAllocatedObjectsCount=${newlyAllocatedObjectsCount})"></div>
                    </div>
                </div>


                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).MAIN_ZMR.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelsZmAndZmr)}" th:id="userdocs-main-zmr-group-panel" th:attr="data-url=@{/load-userdocs-main-zmr-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupMainZmr)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupMainZmr)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupMainZmr}, total=${userdocsGroupMainZmrCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>


                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).MAIN_MR.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelsZmAndZmr)}" th:id="userdocs-main-mr-group-panel" th:attr="data-url=@{/load-userdocs-main-mr-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupMainMr)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupMainMr)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupMainMr}, total=${userdocsGroupMainMrCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>


                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).CORRESP_ZMR.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelsZmAndZmr)}" th:id="userdocs-corresp-zmr-group-panel" th:attr="data-url=@{/load-userdocs-corresp-zmr-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespZmr)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespZmr)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupCorrespZmr}, total=${userdocsGroupCorrespZmrCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>


                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).CORRESP_MR.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelsZmAndZmr)}" th:id="userdocs-corresp-mr-group-panel" th:attr="data-url=@{/load-userdocs-corresp-mr-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespMr)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespMr)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupCorrespMr}, total=${userdocsGroupCorrespMrCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>

                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).CORRESP_ZMR_WIPO.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelsZmAndZmr)}" th:id="userdocs-corresp-zmr-wipo-group-panel" th:attr="data-url=@{/load-userdocs-corresp-zmr-wipo-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespZmrWipo)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespZmrWipo)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupCorrespZmrWipo}, total=${userdocsGroupCorrespZmrWipoCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>

                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).CORRESP_MR_WIPO.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelsZmAndZmr)}" th:id="userdocs-corresp-mr-wipo-group-panel" th:attr="data-url=@{/load-userdocs-corresp-mr-wipo-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespMrWipo)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespMrWipo)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupCorrespMrWipo}, total=${userdocsGroupCorrespMrWipoCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>






                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsMyObjectsList)}" th:id="my-objects-panel" th:attr="data-url=@{/load-my-objects-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(myObjectsList)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(myObjectsList)}">
                        <div th:replace="home/my_objects/my_objects_home_panel :: panel(myObjectsList = ${myObjectsList}, total=${myObjectsCount},newlyAllocatedObjectsCount=${newlyAllocatedObjectsCount})"></div>
                    </div>
                </div>


                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).MAIN.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsMyUserdocsList)}" th:id="userdoc-main-group-panel" th:attr="data-url=@{/load-userdocs-main-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupMain)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupMain)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupMain}, total=${userdocsGroupMainCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>

                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).CORRESP.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsMyUserdocsList)}" th:id="userdoc-corresp-group-panel" th:attr="data-url=@{/load-userdocs-corresp-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorresp)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorresp)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupCorresp}, total=${userdocsGroupCorrespCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>

                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsViewReceptionList)}" th:id="receptions-panel" th:attr="data-url=@{/load-receptions-panel}" >
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(receptions)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(receptions)}">
                        <div th:replace="home/reception/reception_list_home_panel :: panel(receptions=${receptions}, total=${receptionCount})"></div>
                    </div>
                 </div>


                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.UserdocViewReceptionList)}"  th:id="userdoc-receptions-panel" th:attr="data-url=@{/load-userdoc-receptions-panel}" >
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocReceptions)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocReceptions)}">
                        <div th:replace="home/reception/userdoc/last_added_userdocs_home_panel :: panel(userdocReceptions=${userdocReceptions},total=${userdocReceptionsCount})"></div>
                    </div>
                 </div>

                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.UserdocInternationalMarkReceptionsListZmAndZmr)}"  th:id="userdoc-receptions-zm-zmr-panel" th:attr="data-url=@{/load-userdoc-receptions-zm-zmr-panel}" >
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocReceptionsZmZmr)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocReceptionsZmZmr)}">
                        <div th:replace="home/reception/userdoc/last_added_userdocs_zm_zmr_home_panel :: panel(userdocReceptions=${userdocReceptionsZmZmr},total=${userdocReceptionsZmZmrCount})"></div>
                    </div>
                </div>


                <div th:with="userdocGroupName=${T(bg.duosoft.ipas.enums.UserdocGroup).CORRESP_EXACT.code()}" class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.HomePanelExactCorresp)}" th:id="userdocs-corresp-exact-group-panel" th:attr="data-url=@{/load-userdocs-corresp-exact-group-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespExact)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocsGroupCorrespExact)}">
                        <div th:replace="home/my_grouped_userdocs/my_grouped_userdocs_home_panel :: panel(myUserdocsList = ${userdocsGroupCorrespExact}, total=${userdocsGroupCorrespExactCount},userdocGroupName=${userdocGroupName},newlyAllocatedUserdocsCount=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>

                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsViewInternationalMarkReceptionsList)}" th:id="international-marks-panel" th:attr="data-url=@{/load-international-marks-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(enotifs)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(enotifs)}">
                        <div th:replace="home/international_marks/international_marks_home_panel :: panel(marksList=${enotifs}, total=${enotifsCount})"></div>
                    </div>
                </div>

                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsViewWaitingTermZmrList)}" th:id="waiting-terms-zmr-panel" th:attr="data-url=@{/load-waiting-terms-zmr-panel}" >
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(waitingTermZmrList)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(waitingTermZmrList)}">
                        <div th:replace="home/waitingterm/waiting_term_zmr_home_panel :: panel(waitingTermList=${waitingTermZmrList}, total=${waitingTermZmrCount})"></div>
                    </div>
                </div>


                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsViewWaitingTermList)}" th:id="waiting-terms-panel" th:attr="data-url=@{/load-waiting-terms-panel}" >
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(waitingTermList)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(waitingTermList)}">
                        <div th:replace="home/waitingterm/waiting_term_home_panel :: panel(waitingTermList=${waitingTermList}, total=${waitingTermCount})"></div>
                    </div>
                </div>




                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsViewExpiredTermZmrList)}" th:id="expired-terms-zmr-panel" th:attr="data-url=@{/load-expired-terms-zmr-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(expiredTermZmrList)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(expiredTermZmrList)}">
                        <div th:replace="home/expired_term/expired_term_zmr_home_panel :: panel(expiredTermList=${expiredTermZmrList}, total=${expiredTermZmrCount})"></div>
                    </div>
                </div>

                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsViewExpiredTermList)}" th:id="expired-terms-panel" th:attr="data-url=@{/load-expired-terms-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(expiredTermList)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(expiredTermList)}">
                        <div th:replace="home/expired_term/expired_term_home_panel :: panel(expiredTermList=${expiredTermList}, total=${expiredTermCount})"></div>
                    </div>
                </div>
<!--                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsUserdocWaitingTermsList)}" th:id="userdoc-waiting-terms-panel" th:attr="data-url=@{/load-userdoc-waiting-terms-panel}">-->
<!--                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocWaitingTermsList)}">-->
<!--                        <div th:replace="base/loader :: local-loader"></div>-->
<!--                    </div>-->
<!--                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocWaitingTermsList)}">-->
<!--                        <div th:replace="home/userdoc_waiting_terms/userdoc_waiting_terms_home_panel :: panel(userdocWaitingTermsList = ${userdocWaitingTermsList}, total=${userdocWaitingTermsCount})"></div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsUserdocExpiredTermsList)}" th:id="userdoc-correspondence-terms-panel" th:attr="data-url=@{/load-userdoc-correspondence-terms-panel}" >
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(userdocCorrespondenceTermsList)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(userdocCorrespondenceTermsList)}">
                        <div th:replace="home/userdoc_correspondence_terms/userdoc_correspondence_terms_home_panel :: panel(userdocCorrespondenceTermsList = ${userdocCorrespondenceTermsList}, total=${userdocCorrespondenceTermsCount})"></div>
                    </div>
                </div>
                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.IpObjectsViewLastActionsList)}" th:id="last-actions-panel" th:attr="data-url=@{/load-last-actions-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(lastActionList)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(lastActionList)}">
                        <div th:replace="home/lastaction/last_action_home_panel :: panel(lastActionList = ${lastActionList}, total=${lastActionCount})"></div>
                    </div>
                </div>
                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.LastPaymentsList)}" th:id="last-payments-panel" th:attr="data-url=@{/load-last-payments-panel}">
                    <div>
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                </div>

                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.NotLinkedPaymentsList)}" th:id="not-linked-payments-panel" th:attr="data-url=@{/load-not-linked-payments-panel}">
                    <div>
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                </div>

                <div class="col-6 m_B1p home_panel" th:if="${securityUtils.hasRights(securityRoles.NewlyAllocatedUserdocs)}" th:id="newly-allocated-userdocs-panel" th:attr="data-url=@{/load-newly-allocated-userdocs-panel}">
                    <div th:if="${T(org.springframework.util.CollectionUtils).isEmpty(newlyAllocatedUserdocs)}">
                        <div th:replace="base/loader :: local-loader"></div>
                    </div>
                    <div th:if="${!T(org.springframework.util.CollectionUtils).isEmpty(newlyAllocatedUserdocs)}">
                        <div th:replace="home/newly_allocated_userdocs/newly_allocated_userdocs_home_panel :: panel(newlyAllocatedUserdocs = ${newlyAllocatedUserdocs}, total=${newlyAllocatedUserdocsCount})"></div>
                    </div>
                </div>


            </div>
        </div>
    </main>
</div>

<footer class="page-footer" th:replace="base/footer"></footer>
<div th:replace="base/template :: js-footer" th:remove="tag"></div>


</body>
</html>