<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="bg">

<head th:replace="base/template :: head(title=#{automatic.actions.log.title})"></head>

<body class="dark left-sidebar-show">

<header class="app-header" th:replace="base/header"></header>

<div class="app-body">
    <div class="left-sidebar">
        <div id="psb" class="ps--active-y">
            <nav class="sidebar-nav">
                <ul class="nav DropDownMenu">
                    <li th:each="url : ${T(com.duosoft.ipas.util.UrlMap).ADMIN_PANEL_URLS}">
                        <a th:href="@{${url.url}}" th:title="${#messages.msgOrNull(url.text)}"
                           th:text="${#messages.msgOrNull(url.shortText)}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <main class="main">
        <div th:replace="base/breadcrumbs :: breadcrumbs"></div>
        <div class="inner continer">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="center">
                            <h1 class="section-header" th:text="#{automatic.actions.log.title}"></h1>
                        </div>

                        <div class="row m_B10">
                            <div class="col-6" >
                                <div th:replace="~{base/form/input :: text(id = 'timerName-filter', label = #{automatic.actions.filter.timer.name})}"></div>
                            </div>
                            <div class="col-6" th:id="'error-filter-wrapper'" >
                                <div class="input-field">
                                    <select th:id="error-filter">
                                        <option th:text="#{default.select.option}" th:value="null" th:selected="${true}"></option>
                                        <option th:text="#{yes}" th:value="1"></option>
                                        <option th:text="#{no}" th:value="0" ></option>
                                    </select>
                                    <label th:for="error-filter" th:text="#{automatic.actions.filter.error.flag}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row m_B10">
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: datepicker(id = 'dateFrom-filter', label = #{automatic.actions.filter.dateFrom})}"></div>
                            </div>
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: datepicker(id = 'dateTo-filter', label = #{automatic.actions.filter.dateTo})}"></div>
                            </div>
                        </div>

                        <div class="row right-align">
                            <div class="col-12">
                                <a th:replace="~{base/form/button :: material-btn(label = #{automatic.actions.delete.24h.log.btn}, idBtn = 'delete-24h-log-btn', icon = 'clear', classes = 'm_T5 left confirm', dataUrl = @{/admin/automatic-actions-log/delete24h}, additionalArgs='data-warning=#{automatic.actions.24h.warning}, data-confirm=#{automatic.actions.24h.deleted}')}"></a>
                                <a th:replace="~{base/form/button :: material-btn(label = #{btn.search}, idBtn = 'search-automatic-actions-log-btn', dataUrl = @{/admin/automatic-actions-log/search} , icon = 'search', classes = 'm_R20 m_T5')}"></a>
                                <a th:replace="~{base/form/button :: material-btn(label = #{btn.clear}, idBtn = 'clear-automatic-actions-log-btn', icon = 'clear', classes = 'm_T5')}"></a>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12" th:id="automatic-actions-log-table-wrapper">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="page-footer" th:replace="base/footer"></footer>
<div th:replace="base/template :: js-footer" th:remove="tag"></div>
</body>
</html>