<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--/*@thymesVar id="sections" type="java.util.List<com.duosoft.ipas.webmodel.structure.SectionWebModel>"*/-->

<div class="row" th:fragment="list-sections(sections, index)" th:remove="tag">
    <div class="row">
        <div class="col-10">
            <div class="div-field">
                <div class="div-field">
                    <span th:text="#{sections.label}"></span>
                    <span class="sign bg__dark-blue" th:text="${sections == null ? 0 : sections.size()}"></span>
                </div>
            </div>
        </div>
    </div>

    <ul th:id="'LinkedList' + ${index}" class="Linked-List" >
        <th:block th:each="section,secStat:${sections}">
            <li th:replace="structure/list/list_section :: list-section(section = ${section})"></li>
        </th:block>
    </ul>
</div>



</body>
</html>