<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="bg">

<head th:replace="~{base/template :: head(title = #{admin.page.title})}"></head>
<body class="dark left-sidebar-show">
<header class="app-header" th:replace="base/header"></header>

<div class="app-body">
    <div class="left-sidebar">
        <div id="psb" class="ps--active-y">
            <nav class="sidebar-nav">
                <ul class="nav DropDownMenu">
                    <li th:each="url : ${T(com.duosoft.ipas.util.UrlMap).ADMIN_PANEL_URLS}">
                        <a th:href="@{${url.url}}" th:title="${#messages.msgOrNull(url.text)}"
                           th:text="${#messages.msgOrNull(url.shortText)}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <main class="main">
        <div th:replace="base/breadcrumbs :: breadcrumbs"></div>
        <div class="row">
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{admin.users.roles.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{admin.users.roles.text}"></span>
                            <span class="bold" th:text="|#{users.sync.title}, |"></span>
                            <span class="bold" th:text="|#{group.permissions.title}, |"></span>
                            <span class="bold" th:text="|#{structure.users.title}|"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/users/sync}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{persons.administration.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{persons.administration.text}"></span>
                            <span class="bold" th:text="|#{admin.person.split.title}, |"></span>
                            <span class="bold" th:text="|#{admin.person.remove.title}, |"></span>
                            <span class="bold" th:text="|#{admin.person.duplicate.title}, |"></span>
                            <span class="bold" th:text="|#{admin.person.merge.title}|"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/person/split}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="position-relative card blue-grey darken-1">
                    <span th:id="error-log-card-counter" th:data-url="@{/admin/error-log/count-unresolved}" class="none card-counter-badge sign badge-red"></span>
                    <div class="card-content m_H200">
                        <div class="card-title m-blue-text text-darken-4" th:text="#{error.log.title}"></div>
                        <div class="card-content-description">
                            <span th:text="#{error.log.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/error-log/list}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{userdoc.administration.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{userdoc.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/userdoc-types/list}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{offidoc.administration.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{offidoc.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/offidoc/list}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{nice.class.administration.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{nice.class.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/nice-class/list}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{missing.epo.patents.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{missing.epo.patent.administration.text}"></span>
                            <span th:text="#{missing.epo.patents.info.msg}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/missing-epo-patents}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{missing.userdocs.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{missing.userdocs.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/missing-userdocs}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{missing.userdocs.in.abdocs.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{missing.userdocs.in.abdocs.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/missing-userdocs-in-abdocs}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{missing.international.marks.in.abdocs.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{missing.intl.marks.in.abdocs.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/missing-international-marks-in-abdocs}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4"
                              th:text="#{mark.old.intl.registrations.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{mark.old.intl.registrations.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/mark-old-international-registration}" th:text="#{btn.open.page}"
                           class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>


            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{userdoc.reg.number.change.log.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{userdoc.reg.number.change.log.administration.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/userdoc-reg-number-change-log/list}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card blue-grey darken-1">
                    <div class="card-content m_H200">
                        <span class="card-title m-blue-text text-darken-4" th:text="#{automatic.actions.log.title}"></span>
                        <div class="card-content-description">
                            <span th:text="#{automatic.actions.log.text}"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/admin/automatic-actions-log/list}" th:text="#{btn.open.page}" class="b0 text-darken-4"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<footer class="page-footer" th:replace="base/footer"></footer>
<div th:replace="base/template :: js-footer" th:remove="tag"></div>
</body>
</html>