<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="row" th:fragment="formFields(type, isActive,name,id)">
    <div class="col-10">
        <div class="div-field">
            <div th:id="'objectName-' + ${id}" th:text="${name}"></div>
            <div th:if="${isActive} == false">
                <span class="label" th:text="#{status.label}"></span>
                <span class="label" th:text="#{status.inactive}"></span>
            </div>
            <div th:if="${isActive} == true">
                <span class="label" th:text="#{status.label}"></span>
                <span class="label" th:text="#{status.active}"></span>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="div-field">
            <span class="label"></span>
        </div>
        <div th:if="${isActive} == true">
            <button type="button" th:attr="data=${id}" th:class="${type} + '-transfer-button button sm-icn-right'" th:text="#{transfer}"></button>
        </div>
    </div>

</div>
</body>
</html>