<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!--/*@thymesVar id="availableDepartments" type="java.util.List<bg.duosoft.ipas.core.model.structure.StructureNode>"*/-->
<!--/*@thymesVar id="selectedDepartment" type="java.lang.String"*/-->
<div th:fragment="select-department(disabled, selectedDepartment, availableDepartments)" th:remove="tag">
    <div th:if="${availableDepartments != null}" th:remove="tag">
        <div th:replace="~{base/form/select :: object(
                            id = 'department-select',
                            label = #{department.choose},
                            classes = 'search-box readonly',
                            name = 'departments',
                            isDisabled = ${disabled},
                            objects = ${availableDepartments},
                            valuePointer = 'officeStructureId.officeDepartmentCode',
                            textPointer = 'name',
                            emptySelectOption= #{default.select.option},
                            url=@{/structure/department/sectionsbydepartment},
                            selected = ${selectedDepartment})}">
        </div>
</div>




</body>
</html>