<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!--/*@thymesVar id="activeDepartments" type="java.util.List<bg.duosoft.ipas.core.model.structure.OfficeDepartment>"*/-->
<div th:fragment="transfer-section-modal(activeDepartments)" th:remove="tag">
    <div id="transfer-section-modal" class="modal" style="overflow: visible">
        <div class="modal-content">
            <div class="center">
                <h4 th:text="#{transfer-section}"></h4>
            </div>
            <p><span th:text="#{transfer} + ':'"></span><span id="sectionToTransfer"></span></p>
            <div class="input-field" id="section_select_div">
                <select style="width: 50%" name="departments" id="department-select">
                    <option th:value="${null}" th:text="''">

                    <option th:each="dropdownValue: ${activeDepartments}"
                            th:value="${dropdownValue.officeStructureId.code}"
                            th:text="${dropdownValue != null} ? ${dropdownValue.name} : #{structure.empty}">

                    </option>
                </select>
                <label th:for="section_select_div" th:text="#{sections.label}"></label>
            </div>

        </div>
        <div class="modal-footer row">
            <input type="hidden" id="transfer_section_ids" value="" />
            <div class="col-12">
                <button id="sectionTransferBtn" th:attr="data-url=@{/structure/section/transfer}" th:text="#{btn.save}" class="button sm-icn-save wmin_130"></button>
                <button th:text="#{btn.cancel}" th:type="button" class="button sm-icn-cross modal-close wmin_130"></button>
            </div>
        </div>


    </div>
</div>




</body>
</html>