<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="priority-form" th:with="dateFormatDot=${T(bg.duosoft.ipas.util.date.DateUtils).DATE_FORMAT_DOT}">
    <div style="overflow: visible" id="priority-form-modal" class="modal">
        <div class="modal-content">
            <div class="center">
                <h4 th:text="#{priority.modal.header}"></h4>
            </div>
            <div>
                <div class="row">
                    <div class="col-4">
                        <div th:replace="~{base/form/select :: map(id = 'priority-countryCode', label = #{priority.country}, map = ${countryMap}, selected = ${priority.countryCode}, classes = 'search-box')}"></div>
                    </div>
                    <div class="col-4">
                        <div th:replace="~{base/form/input :: text(id = 'priority-applicationId', label = #{priority.number}, value = ${priority.applicationId}, classes = 'number')}"></div>
                    </div>
                    <div class="col-4">
                        <div th:replace="~{base/form/input :: datepicker(id = 'priority-priorityDate', label = #{priority.date}, classes = 'modal-date', value = ${#dates.format(priority.priorityDate, dateFormatDot)})}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div th:replace="~{base/form/textarea :: basic(id = 'priority-notes', value = ${priority.notes}, label = #{priority.notes})}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div th:replace="~{base/form/checkbox :: basic(id = 'priority-accepted', label = #{priority.accepted}, isChecked = ${priority.priorityStatus == 1})}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer row">
            <div class="col-12">
                <button th:id="save-priority-btn"
                        th:attr="data-url=@{/{url}/save-priority(url=${T(com.duosoft.ipas.util.CoreUtils).getUrlPrefixByFileType(fileId.fileType)})},data-index=${index}"
                        th:type="submit" class="button sm-icn-save wmin_130" th:text="#{btn.save}">
                </button>
                <button th:text="#{btn.cancel}" th:type="button" class="button sm-icn-cross modal-close wmin_130"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>