<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--/*@thymesVar id="file" type="bg.duosoft.ipas.core.model.file.CFile"*/-->
<!--/*@thymesVar id="person" type="bg.duosoft.ipas.core.model.person.CPerson"*/-->

<div th:fragment="infringer(file)" th:with="objectUtils=${T(java.util.Objects)},personKind=${T(com.duosoft.ipas.enums.PersonKind).AcpInfringer.code()}">

    <th:block>
        <div class="col-12">
            <div th:if="${T(java.util.Objects).nonNull(file.acpPersonsData.infringerPerson)}"
                 th:with="person=${file.acpPersonsData.infringerPerson}, servicePerson = ${file.acpPersonsData.servicePerson}">
                <div th:replace=" :: infringer-header(true, false)"></div>
                <div th:replace=" :: infringer-body"></div>
            </div>
            <div th:if="${T(java.util.Objects).isNull(file.acpPersonsData.infringerPerson)}" th:remove="tag">
                <div th:replace=" :: infringer-header(true, true)"></div>
            </div>
        </div>
    </th:block>
</div>


<div th:remove="tag" th:fragment="infringer-header(containAddButton,isHidden)">
    <div>
        <div class="inline-block">
            <h4 th:text="#{acp.person.infringer.title}" th:classappend="${isHidden ? 'hidden-element':''}"></h4>
        </div>
        <div th:if="${containAddButton}" class="inline-block">
            <div th:replace="ipobjects/common/person/elements :: search-person-button(${personKind},${true})"></div>
        </div>
    </div>

</div>


<div th:remove="tag" th:fragment="infringer-body">
    <div class="list-elements-wrapper">
        <div class="row list-element">
            <div class="col-11">
                <div th:replace="ipobjects/common/person/elements :: label-representative(${person})"></div>
                <div th:replace="ipobjects/common/person/elements :: label-ca(${servicePerson},${person})"></div>
                <div th:replace="ipobjects/common/person/elements :: person-info(${person})"></div>
            </div>
            <div th:replace=" :: infringer-menu"></div>
        </div>
    </div>
</div>

<div th:remove="tag" th:fragment="infringer-menu">
    <div class="col-1 hidden-element right-align action-menu-list-fs" th:with="menuId=|acp-infringer-menu-${person.personNbr}-${person.addressNbr}|">
        <i th:title="#{menu}" th:attr="data-action='toggle-menu',data-id=${menuId}" class="zmdi zmdi-menu"></i>
        <div th:id="${menuId}" class="action-menu none" th:with="isCurrentPersonCA=${T(com.duosoft.ipas.util.PersonUtils).isAcpCurrentPersonCA(person.personNbr,person.addressNbr,file)}">
            <div th:replace="ipobjects/common/person/elements :: menu-option-view-person(person = ${person})"></div>
            <div th:remove="tag" th:if="${T(java.util.Objects).isNull(servicePerson) || (!((servicePerson.personNbr == person.personNbr) && (servicePerson.addressNbr == person.addressNbr)))}">
                <div th:replace="ipobjects/common/person/elements :: menu-option-change-ca(${personKind},${person.personNbr},${person.addressNbr}, null, ${false})"></div>
            </div>
            <div th:remove="tag" th:if="${!person.hasAgentCode()}">
                <div th:replace="ipobjects/common/person/elements :: menu-option-edit(${personKind},${person.personNbr},${person.addressNbr})"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>