<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="bg">

<head th:replace="base/template :: head(title=#{last.payments.title})"></head>

<body class="dark left-sidebar-show">

<header class="app-header" th:replace="base/header"></header>

<div class="app-body" th:with="securityUtils=${T(bg.duosoft.ipas.util.security.SecurityUtils)}, securityRoles=${T( bg.duosoft.ipas.enums.security.SecurityRole)},dateFormatDot=${T(bg.duosoft.ipas.util.date.DateUtils).DATE_FORMAT_DOT}">
    <div th:replace="base/left-sidebars :: list(urls = ${T(com.duosoft.ipas.util.UrlMap).getHomeUrlsFiltered()})"></div>

    <main class="main">
        <div th:replace="base/breadcrumbs :: breadcrumbs"></div>
        <div class="inner continer">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="center">
                            <h1 class="section-header" th:text="#{last.payments.title}"></h1>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: datepicker(id = 'last-payments-date-from-filter', label = #{payments.filter.last.payments.date.from}, value = ${#dates.format(lastPaymentsFilter.dateLastPaymentFrom,dateFormatDot)})}"></div>
                            </div>
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: datepicker(id = 'last-payments-date-to-filter', label = #{payments.filter.last.payments.date.to}, value = ${#dates.format(lastPaymentsFilter.dateLastPaymentTo,dateFormatDot)})}"></div>
                            </div>
                        </div>
                        <div class="row right-align">
                            <div class="col-12">
                                <a th:replace="~{base/form/button :: material-btn(label = #{btn.search}, idBtn = 'search-last-payments-btn', dataUrl = @{/last-payments/search} , icon = 'search', classes = 'm_R20 m_T5')}"></a>
                                <a th:replace="~{base/form/button :: material-btn(label = #{btn.clear}, idBtn = 'clear-last-payments-btn',href=@{/last-payments/list}, icon = 'clear', classes = 'm_T5')}"></a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12" th:id="last-payments-table-wrapper" th:attr="data-url=@{/last-payments/update-table}">
                                <div th:replace="home/payments/last_payments_table :: table(lastPaymentsList=${lastPaymentsList},lastPaymentsCount=${lastPaymentsCount}, lastPaymentsFilter=${lastPaymentsFilter})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<footer class="page-footer" th:replace="base/footer"></footer>
<div th:replace="base/template :: js-footer" th:remove="tag"></div>
</body>
</html>