<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="bg">

<head th:replace="base/template :: head(title=#{'title.'+${myObjectsParentUrl}})"></head>

<body class="dark left-sidebar-show">

<header class="app-header" th:replace="base/header"></header>

<div class="app-body">
    <div th:replace="base/left-sidebars :: list(urls = ${T(com.duosoft.ipas.util.UrlMap).getHomeUrlsFiltered()})"></div>
    <main class="main">
        <div th:replace="base/breadcrumbs :: breadcrumbs"></div>
        <div class="inner continer">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="center">
                            <h1 class="section-header" th:text="#{'title.'+${myObjectsParentUrl}}"></h1>
                        </div>
                        <div class="row">
                            <div class="col-7" th:id="'my-object-status-filter-wrapper'" th:with="id='my-object-status-filter'">
                                <div th:replace="~{base/form/select :: map(id = ${id}, label = 'Статус', map = ${statusMap}, selected = ${myObjectsFilter.statusCode},emptySelectOption = #{all}, classes = 'search-box')}"></div>
                            </div>
                            <div class="col-2 m_T10-i">
                                <div th:replace="~{base/form/checkbox :: basic(id = 'my-object-newly-allocated-checkbox', label = 'Само новите', isChecked = ${myObjectsFilter.newlyAllocated})}"></div>
                            </div>
                            <div class="col-3 m_T10-i" th:if="${iMarkMyObjects} == null">
                                <div th:replace="~{base/form/checkbox :: basic(id = 'my-object-priority-request-checkbox', label = 'Само ускорените', isChecked = ${myObjectsFilter.priorityRequest})}"></div>
                            </div>
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: text(id = 'responsibleUser-filter', label = #{filter.responsibleUser.label},dataId = (${myObjectsFilter.responsibleUser}), value = (${myObjectsFilter.responsibleUserName}), url = @{/user/users-autocomplete}, classes = 'autocomplete-user')}"></div>
                            </div>
                        </div>
                        <div class="row" th:if="${iMarkMyObjects} != null">
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: text(id = 'bordero-filter', label = 'Бордеро',dataId = (${myObjectsFilter.bordero}), value = (${myObjectsFilter.bordero}))}"></div>
                            </div>
                            <div class="col-6">
                                <div th:replace="~{base/form/input :: text(id = 'journal-code-filter', label = 'Бюлетин',dataId = (${myObjectsFilter.journalCode}), value = (${myObjectsFilter.journalCode}))}"></div>
                            </div>
                        </div>
                            <div class="row right-align">
                                <div class="col-12">
                                    <a th:replace="~{base/form/button :: material-btn(label = #{btn.search}, idBtn = 'search-my-objects-btn', dataUrl = @{/{path}/search(path=${myObjectsParentUrl})} , icon = 'search', classes = 'm_R20 m_T5')}"></a>
                                    <a th:replace="~{base/form/button :: material-btn(label = #{btn.clear}, idBtn = 'clear-my-objects-btn',href=@{/{path}/list(path=${myObjectsParentUrl})}, icon = 'clear', classes = 'm_T5')}"></a>
                                </div>
                            </div>

                        <div class="row">
                            <div class="col-12" th:id="my-objects-table-wrapper" th:attr="data-url=@{/{path}/update-table(path=${myObjectsParentUrl})}">
                                <div th:replace="home/my_objects/my_objects_table :: table(myObjectsList=${myObjectsList},myObjectsCount=${myObjectsCount},myObjectsFilter=${myObjectsFilter},myObjectsParentUrl=${myObjectsParentUrl}, iMarkMyObjects=${iMarkMyObjects})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="page-footer" th:replace="base/footer"></footer>
<div th:replace="base/template :: js-footer" th:remove="tag"></div>
</body>
</html>