<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="left-sidebar" th:fragment="sidebar(panelsList,panelPrefix)">


    <div id="psb" class="ps--active-y">
        <nav class="sidebar-nav">
            <ul id="detail-list" class="nav DropDownMenu checkbox-list switcher simple at-right" th:attr="data-group=|${panelPrefix}-detail|">

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.IdentityData.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasMarkIdentityPanelRights(mark.file.fileId)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.IdentityData.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.identity}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>


                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.AcpAffectedObjectsData.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.AcpAffectedObjectsData)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.AcpAffectedObjectsData.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.affected_objects}"></span>
                            <input type="checkbox"  class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>











                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.MainData.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.MarkMainData)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.MainData.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{'panel.title.details.'+${panelPrefix}}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.InternationalData.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.MarkInternationalData)}">
                         <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.InternationalData.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.mark.international.details}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                         </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.NiceClasses.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.MarkNiceClasses)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.NiceClasses.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.nice.classes}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.InternationalNiceClassesRestrictions.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.MarkInternationalNiceClasses)}">
                         <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.InternationalNiceClassesRestrictions.code()}" class="draggable">
                             <span class="sb-ckb-cEvent" th:text="#{panel.title.international.nice.classes.restrictions}"></span>
                             <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                             <label class="empty" th:for="${panelName}"></label>
                         </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.Persons.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasMarkPersonsPanelRights(mark.file.fileId)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.Persons.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.person}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>



                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.AcpViolationPlacesData.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.AcpViolationPlacesData)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.AcpViolationPlacesData.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.violation.places}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>


                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.AcpCheckData.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.AcpCheckData)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.AcpCheckData.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.acp_check_data}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>



                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.AcpAdministrativePenaltyData.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.AcpAdministrativePenaltyData)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.AcpAdministrativePenaltyData.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.acp_administrative_penalty}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>



                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.AcpTakenItemsData.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.AcpTakenItemsData)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.AcpTakenItemsData.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.acp_taken_items}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.Claims.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.MarkClaims)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.Claims.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.claims}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.Publication.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.MarkPublication)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.Publication.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.publication}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.Recordals.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.MarkRecordals)}">
                        <div th:remove="tag" th:if="${!#lists.isEmpty(mark.file.fileRecordals)}">
                            <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.Recordals.code()}" class="draggable">
                                <span class="sb-ckb-cEvent" th:text="#{panel.title.recordals}"></span>
                                <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                                <label class="empty" th:for="${panelName}"></label>
                            </li>
                        </div>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.Process.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasMarkProcessPanelRights(mark.file.fileId)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.Process.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.process}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.Payments.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.MarkPayments)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.Payments.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.payments}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>

                <div th:remove="tag" th:if="${#lists.contains(panelsList,markPanelEnum.History.code())}">
                    <div th:remove="tag" th:if="${securityUtils.hasRights(securityRoles.IpObjectsHistory)}">
                        <li th:attr="data-group=${panelName}, data-checked=true" th:with="panelName=${markPanelEnum.History.code()}" class="draggable">
                            <span class="sb-ckb-cEvent" th:text="#{panel.title.history}"></span>
                            <input type="checkbox" class="sb-ckb" th:id="${panelName}" autocomplete="off"/>
                            <label class="empty" th:for="${panelName}"></label>
                        </li>
                    </div>
                </div>

            </ul>
        </nav>
    </div>

</div>

</body>
</html>