<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base/template :: head(title = (#{um.breadcrumb.prefix} + ' ' + ${patent.file.fileId.createFilingNumber()}))"></head>

<body class="dark left-sidebar-show" th:with="panelEnum=${T(com.duosoft.ipas.enums.PatentPanel)}">

<th:block th:with="panelsList=(${{panelEnum.IdentityData.code(),
                                 panelEnum.MainData.code(),
                                 panelEnum.IpcData.code(),
                                 panelEnum.CpcData.code(),
                                 panelEnum.Persons.code(),
                                 panelEnum.Publication.code(),
                                 panelEnum.Recordals.code(),
                                 panelEnum.RightsData.code(),
                                 panelEnum.Process.code(),
                                 panelEnum.ClaimsData.code(),
                                 panelEnum.PublishedDrawingsData.code(),
                                 panelEnum.Citations.code(),
                                 panelEnum.Payments.code(),
                                 panelEnum.History.code()}
                                 })">
    <div th:replace="ipobjects/patentlike/common/viewpage/patent_view_page :: content(${panelsList},'utility_model')"></div>
</th:block>

</body>
</html>